<div class="container">
    <!-- <input matInput hidden="true" [(ngModel)]="category.uid"> -->
    <mat-form-field appearance="outline" class="full-width" >
        <mat-label>Nome</mat-label>
        <input matInput placeholder="preencha o nome do cliente" required [(ngModel)]="model.name" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width" >
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="preencha o emil do cliente" required [(ngModel)]="model.email" required>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width" >
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="preencha o telefone do cliente" required [(ngModel)]="model.phone" required>
    </mat-form-field>
    <!-- Para chamar um HTML diferente, usa-se o selector deste dentro do arquivo component.ts -->
    <app-input-file [image]="model.photo" (select)="selectedFile($event)"></app-input-file>
    <div class="toolbar___form">        
        <button mat-raised-button routerLink="/customers">Cancelar</button>
        <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </div>
</div>