<div class="container">
    <!-- <input matInput hidden="true" [(ngModel)]="category.uid"> -->
    <mat-form-field appearance="outline" class="full-width" >
        <mat-label>Categoria</mat-label>
        <input matInput placeholder="preencha o nome da categoria" required [(ngModel)]="category.name">
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descrição</mat-label>
        <textarea matInput placeholder="Descreva a descrição da categoria" rows="4" [(ngModel)]="category.description"></textarea>
    </mat-form-field>
    <div class="toolbar___form">
        <a href="/categories">
            <button mat-raised-button href="">Cancelar</button>
        </a>
        <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </div>
</div>