<div class="getmestres___container-body">
  <!-- Cabeçalho do página -->
  <mat-toolbar color="primary" class="getmestres___toolbar" *ngIf="isLogged">
    <button mat-icon-button color="dark" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a href="/" style="text-decoration: none; color: white;"><h1>GetMestres</h1></a>
  </mat-toolbar>

  <mat-toolbar color="primary" style="height: 70px;">
    <a href="/login" style="text-decoration: none; color: white; text-align: right;"><h1>Entrar</h1></a>
  </mat-toolbar>

  <!-- Corpo do sidenav -->
  <mat-sidenav-container class="getmestres___side-nav-container" [ngClass]="{'clear-margin-top': !isLogged }">    
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <h3 class="mat-subheader">Cadastros</h3>
        <a mat-list-item href="/categories" (click)="sidenav.toggle()">
            <mat-icon>bookmark</mat-icon>
          Categorias
        </a>
        <a mat-list-item href="/subCategories">
          <mat-icon>bookmark_border</mat-icon>
          SubCategorias
        </a>
        <a mat-list-item href="/questions">
          <mat-icon>assignment</mat-icon>
          Questões
        </a>

        <h3 class="mat-subheader">Pessoas</h3>
        <a mat-list-item href="/serviceProvider">
          <mat-icon>person_pin</mat-icon>
          Profissionais
        </a>
        <a mat-list-item href="/customer">
          <mat-icon>person</mat-icon>
          Clientes
        </a>

        <h3 class="mat-subheader">Segurança</h3>
        <a mat-list-item>
          <mat-icon>security</mat-icon>
          Usuários
        </a>
        
        <h3 class="mat-subheader">Gerenciamento</h3>
        <a mat-list-item>
          <mat-icon>format_list_bulleted</mat-icon>
          Pedidos
        </a>
        <a mat-list-item (click)="logout()">
          <mat-icon>exit</mat-icon>
          Sair
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <!-- A tag mat-sidenav-content é o corpo principal da tela -->
    <mat-sidenav-content>
      <!-- De acordo com a posição dos apps, assim será exibido para o usuário -->
      <!-- Os apps aqui referenciados, foram importados para app.components.ts(este é o módulo principal) -->      
      <ngx-spinner></ngx-spinner>
      <router-outlet></router-outlet>
    </mat-sidenav-content>    
  </mat-sidenav-container>
</div>
