<div class="container">
        <!-- Para chamar um HTML diferente, usa-se o selector deste dentro do arquivo component.ts -->
        <app-input-file [image]="model.photo" (select)="selectedFile($event)"></app-input-file>
    <!-- <input matInput hidden="true" [(ngModel)]="category.uid"> -->
    <mat-form-field appearance="outline" class="full-width" >
        <mat-label>Nome</mat-label>
        <input matInput placeholder="preencha o nome do cliente" required [(ngModel)]="model.name" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width" col-50>
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="preencha o emil do cliente" required [(ngModel)]="model.email" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width" col-50>
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="preencha o telefone do cliente" required [(ngModel)]="model.phone" required>
    </mat-form-field>

    <!-- Este campo só irá aparecer quando o model.uid for vazio, caso tenham algum valor não irá aparecer -->    
    <mat-form-field appearance="outline" class="full-width" *ngIf="!model.uid" col-50>
        <mat-label>Senha</mat-label>
        <input matInput type="password" placeholder="Informe sua nova senha" [(ngModel)]="model.password" required>
    </mat-form-field>

    <!-- Este campo só irá aparecer quando o model.uid for vazio, caso tenham algum valor não irá aparecer -->
    <mat-form-field appearance="outline" class="full-width" *ngIf="!model.uid" col-50>
        <mat-label>Confirmação de Senha</mat-label>
        <input type="password" matInput placeholder="Digite novamente a senha informada acima" [(ngModel)]="model.confirmPassword" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Opções</mat-label>
        <textarea matInput placeholder="Descreva descrição" rows="4" [(ngModel)]="model.description"></textarea>
    </mat-form-field>

    <div class="title-divider">
        Endereço
    </div>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="CEP" required [(ngModel)]="model.zipCode" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Endereço</mat-label>
        <input matInput placeholder="preencha o Endereço" required [(ngModel)]="model.address" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Complemento</mat-label>
        <input matInput placeholder="preencha o complemento do enderço" required [(ngModel)]="model.addressComplement" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width" col-50>
        <mat-label>Estado</mat-label>
        <mat-select [(ngModel)]="model.state" (selectionChange)="bindCities(model.state)">
            <mat-option *ngFor="let state of states" [value]="state.sigla">
                {{ state.nome }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width" col-50>
        <mat-label>Cidade</mat-label>
        <mat-select [(ngModel)]="model.city" [disabled]="!model.state">
            <mat-option *ngFor="let city of cities" [value]="city">
                {{ city }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="title-divider">
        Configurações de atendimento
    </div>
    <div class="container-configuration" style="clear: both;">        
        <div class="card">
            <h4>Cidades Atendidas</h4>
            <mat-form-field appearance="outline" class="full-width" col-50>
                <mat-label>Cidade</mat-label>   <!-- Toda vez que é usado um change, sempre é gerado um evento, por isso está sendo passado como paramêtro -->
                <mat-select [disabled]="!model.state" (selectionChange)="selectCitieCare($event.value)">
                    <mat-option *ngFor="let city of cities" [value]="city">
                        {{ city }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-list>
                <mat-list-item *ngFor="let city of citiesCare; let i = index">
                    <p mat-line style="display: inline;" >{{ city }}</p>
                    <button mat-button (click)="removeCitiesCare(i)" style="float: right;">
                        <mat-icon class="mat-24">delete</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item *ngIf="citiesCare.length === 0">
                    Nenhuma cidade atendida
                </mat-list-item>
            </mat-list>
        </div>
        <div class="card">
            <h4>SubCategorias atendidas</h4>
            <mat-form-field appearance="outline" class="full-width" col-50>
                <mat-label>Categoria</mat-label>
                <mat-select [(ngModel)]="categorySelect" (selectionChange)="bindSubCategories(categorySelect)">
                    <mat-option *ngFor="let categoria of categories" [value]="categoria.uid">
                        {{ categoria.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width" col-50>
                <mat-label>SubCategoria</mat-label>
                <mat-select [(ngModel)]="subCategorySelect" [disabled]="!categorySelect" (selectionChange)="selectSubCategory(subCategorySelect)">
                    <mat-option *ngFor="let subcatetoria of subCategories" [value]="subcatetoria">
                        {{ subcatetoria.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-list>
                <mat-list-item *ngFor="let subcategory of categoriesCare; let i = index">
                <p mat-line style="display: inline;">{{ subcategory }}</p>
                <button mat-button style="float: right;" (click)="removeCategoryCare(i)">
                    <mat-icon class="mat-24">delete</mat-icon>
                </button>
                </mat-list-item>
                <mat-list-item *ngIf="categoriesCare.length === 0">Nenhum subCategoria atendida</mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="toolbar___form">        
        <button mat-raised-button routerLink="/serviceProviders">Cancelar</button>
        <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </div>
</div>